<% title "Edit Caravan Customers Facility" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", @caravan_customers_facility %> |
  <%= link_to "View All", caravan_customers_facilities_path %>
</p>
