<h1>Caravan & Camping</h1>
<p>Your Holiday at Western Caravan Camp starts with a warm welcome from the friendly resident wardens, whose total aim is to 
help you enjoy your stay and ensure that your holiday runs smoothly. Great care is taken in allocating pitches to satisfy all 
needs but please remember to book early if you have any particular requirements.</p>

<p>We welcome Holiday makers with Touring Caravans, Caravan Club, and who like Permanent Vans who have a choice of either 
a Standard Type, serviced pitch, or a super-serviced pitch (see facilities for more details)

<p>NEW FOR 2010 - 10% deposit of the cost MUST BE PAID 28 DAYS BEFORE ARRIVAL!</p>

<p>Pitches Landscaped into groves with thousands! of trees and shrubs, Western Caravan pitches are level, closely mown, very generous 
in size with parking by your unit.</p>
<p>All have electric hook-ups and can be choose between three types of caravan upon number people.</p>
